In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import mplfinance as mpf

%matplotlib inline

In [3]:
# Abre e exibe uma amostra do arquivo com os dados do ativo

file_name = 'BTOW3_1d.xlsx'
path = '../collected_ data/' + file_name
print(path)
df = pd.read_excel(path)
df.tail()

../collected_ data/BTOW3_1d.xlsx

           Data  Abertura  Máxima  Mínima  Fechamento
3791 2020-07-29    121.84  124.50  120.54      123.41
3792 2020-07-30    120.99  124.62  120.00      122.00
3793 2020-07-31    123.10  126.85  119.32      119.32
3794 2020-08-03    121.17  126.00  119.45      126.00
3795 2020-08-04    125.65  126.58  121.20      122.99

In [8]:
# Cria a coluna com o dia da semana, sendo domingo = 1, segunda-feira = 2 e assim por diante

df['Dia da semana'] = df['Data'].dt.dayofweek + 2
df.tail()

           Data  Abertura  Máxima  Mínima  Fechamento  Dia da semana
3791 2020-07-29    121.84  124.50  120.54      123.41              4
3792 2020-07-30    120.99  124.62  120.00      122.00              5
3793 2020-07-31    123.10  126.85  119.32      119.32              6
3794 2020-08-03    121.17  126.00  119.45      126.00              2
3795 2020-08-04    125.65  126.58  121.20      122.99              3

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Data           3796 non-null   datetime64[ns]
 1   Abertura       3796 non-null   float64
 2   Máxima         3796 non-null   float64
 3   Mínima         3796 non-null   float64
 4   Fechamento     3796 non-null   float64
 5   Dia da semana  3796 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 178.1 KB